<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gensyn.watchdog</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>sleep 30 &amp;&amp; osascript -e 'tell application "Terminal" to do script "expect /Users/satbaba2025001b/autostart_setup/gensyn_doker_watchdog.sh"; activate'</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>